<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Uncle - Authentic Hainanese Chicken Rice in Adelaide</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="chicken rice, Adelaide, south australia, lunch, restaurant, chickenrice, authentic, hainanese, waymouth st, waymouth street, smallfry, smallfry seafood">
  <meta property="og:title" content="Uncle - Authentic Hainanese Chicken Rice"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://authentic-uncle.com"/>
  <meta property="og:image" content="https://authentic-uncle.com/assets/uncle-social-image.jpg"/>
  <meta property="og:image:type" content="image/jpeg"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="1200"/>
  <meta property="og:image:alt" content="Uncle's logo on an orange background"/>
  <meta property="og:description" content="Authentic Hainanese Chicken Rice in Adelaide"/>



  <!-- Handheld -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Feed -->
  {% feed_meta %}
  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href="https://authentic-uncle.com/assets/favicon.png"/>
  <link rel="shortcut icon" href="https://authentic-uncle.com/assets/favicon.ico"/>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://authentic-uncle.com/assets/uncle.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="/assets/uncle.css"/> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
