---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<header>
</header>

<body>

  <div class="uncle-layout">

    <section class="uncle-banner">
      <div class="uncle-banner-logo"></div>
      <div class="uncle-banner-tagline">
        <h1><a href="https://goo.gl/maps/AfThcbCDLcD2" class="navigation-link">4A/8 Waymouth St, Adelaide</a></h1>
      </div>
    </section>

    <section class="uncle-details">
      <!-- <div class="uncle-details-container"> -->
        <!-- <div class="uncle-details-header">
          <h1>Keeping Tradition Alive</h1>
        </div> -->

        {% include menu.html %}

    </section>

  </div>

</body>

<footer>
</footer>

</html>
